@media screen and (max-width: 768px) {
    nav ul {
        width: 50%;
    }
}

@media screen and (max-width: 576px) {
    body {
        overflow-x: hidden;
    }

    nav .menu-toggle {
        display: flex;
        z-index: 1;
    }

    nav ul {
        position: fixed;
        right: 0;
        top: 0;
        flex-direction: column;
        height: 100vh;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
        background-color: #131313;
        z-index: 1;
        transform: translate(100%);
        transition: all 1s;
        opacity: 0;
        overflow: hidden;
    }

    nav ul.slide {
        opacity: 1;
        transform: translate(0);
    }
}

@media screen and (max-width: 425px) {
    nav {
        padding: 10px;
    }

    nav .menu-toggle {
        align-self: center;
    }

    .container .title {
        margin: 10px 0;
    }

    .container .title h1 {
        font-size: 24px;
        width: 200px;
    }

    .container .subtitle {
        margin: 0;
    }

    .container .subtitle h2 {
        font-size: 12px;
    }

    .container .subtitle h3 {
        font-size: 18px;
    }

    .container .imgBox img {
        margin: 0;
        height: 100%;
        width: 100%;
    }

    .container .profileBox {
        margin-bottom: 20px;
        margin-top: -100px;
        margin-left: 0;
        width: 230px;
        height: 100px;
    }

    .container .profileBox p {
        color: #ffffff;
        font-size: 10px;
        margin: -20px 0;
    }

    .container footer {
        font-size: 14px;
    }
}